<!DOCTYPE html>
<html>
<head><head>
		<meta charset="utf-8">
		<title>SignUp</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

	</head>
	<body>
		<div class="signup">
			<h1>SignUp</h1>
			<div class="links">
				<a href="{{ url_for('login') }}">Login</a>
				<a href="{{ url_for('signup') }}" class="active">signup</a>
			</div>
			<form action="{{ url_for('signup') }}" method="post" autocomplete="off">
        <label for="first_name">

				</label>
				<input type="text" name="first_name" placeholder="First name" id="first_name" required>
        <label for="last_name">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="last_name" placeholder="last_name" id="last_name" required>
				<label for="username">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="username" placeholder="Username" id="username" required>
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Password" id="password" required>
				<label for="email">
					<i class="fas fa-envelope"></i>
				</label>
				<input type="email" name="email" placeholder="Email" id="email" required>
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="signup">
			</form>
		</div>
	</body>
</html>
