{% extends "_base.html" %}

{% block content %}
<body>
<style>
    #map {
        height: 500px;
        width: 500px;
        border: 3px solid black;
        padding: 100 px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

</style>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>


<nav class="purple">
    <div class="nav-wrapper">
        <a class="white-text brand-logo" href="/" style="padding:0 1rem;">yourSpot</a>
        <a class="waves-effect waves-light right" href="/logout" style="padding:0 1rem;">Logout</a>
        <a class="right" style="padding:0 1rem;">Welcome {{ name }}!</a>
    </div>
</nav>

<h2 class="center"> Map View </h2>
<div id="map"></div>

<button onclick="getLocation()">yourLocation</button>
<button onclick="restLocation()">findRestaurants</button>

<p id="find"></p>
<h2 class="center"> List of All Places in Your Area </h2>
<div class="container">
    {% for row in food %}
    <div class="row">
        <div class="col s12">
            <div class="card horizontal blue-grey darken-1 center">
                <div class="card-content white-text">
                    <span class="card-title">{{ row[1] }}</span>
                </div>
                <div class="card-action">
                    <a href="{{ url_for('restaurant_info', id=row[0]) }}" >Get more info >></a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<script>
      var map = L.map('map').setView([0, 0], 1);
      L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=rAlvBx5bxMdwpbUXX2N6',{
        tileSize: 512,
        zoomOffset: -1,
        minZoom: 1,
        attribution: "\u003ca href=\"https://www.maptiler.com/copyright/\" target=\"_blank\"\u003e\u0026copy; MapTiler\u003c/a\u003e \u003ca href=\"https://www.openstreetmap.org/copyright\" target=\"_blank\"\u003e\u0026copy; OpenStreetMap contributors\u003c/a\u003e",
        crossOrigin: true
      }).addTo(map);



</script>

<script>
var x = document.getElementById("find");

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else {
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
    var marker = L.marker ([position.coords.latitude, position.coords.longitude]).bindTooltip('Your location').addTo(map);
    map.setView([position.coords.latitude, position.coords.longitude], 12);
}

function restLocation (){
    //get restaurants from db
    let food = '{{ food }}'
    //format the string
    food = food.split("], ")
    for(let f = 0; f < food.length; f++){
        food[f] = food[f].replace("[[", "");
        food[f] = food[f].replace("]]", "");
        food[f] = food[f].split(", ");
    }
    let maxlat = 100, maxlong = -100;
    for(let f = 0; f < food.length; f++){
        let lat = Math.random() * (44.113919884318404 - 44.04768256757416) + 44.04768256757416;
        let long = Math.random() * (-79.52583890160057 + 79.35322787960693) - 79.35322787960693;
        var marker = L.marker ([lat, long]).bindTooltip(food[f][1]).addTo(map);
        maxlat = Math.min(lat) < maxlat ? Math.min(lat) : maxlat;
        maxlong = Math.max(long) > maxlong ? Math.max(long) : maxlong;
    }

    //var marker = L.marker ([44.05647976858906, -79.47583890160057]).bindTooltip('Chez Tala').addTo(map);
    //var marker = L.marker ([44.05768256757416, -79.45322787960693]).bindTooltip('Pizza Pizza').addTo(map);
    //var marker = L.marker ([44.053919884318404, -79.45709026058725]).bindTooltip('Hungry Brew Hops').addTo(map);
    map.setView([maxlat, maxlong], 11);
}


</script>
</body>
{% endblock %}