{% extends "_base.html" %}

{% block content %}
<body>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

<style>
body{
background-image: url({{ url_for('static', filename='img/fancy.jpg')}});
}
.signup{
background-color: rgb(0, 0, 0, 0.6);

margin: 150px;
padding: 60px;
display: block;
color: black;
}
.head{
display: block;
width: 20rem;
color:white;
padding: 0;
margin: 0;
text-align: center;
}
.container{
	text-align: center;
}

</style>

<div class="signup">
    <div class=head>
        <h1>SignUp</h1>
    </div>
    <form action="{{ url_for('signup') }}" method="post" autocomplete="off" class="form-group">
        <div class="form-group container">
            {{ form.csrf_token }}
            <div>
                <!--     First Name           -->
                {{ form.fname.label(class='label') }}
                {{ form.fname(class="white-text") }}
                {% if form.fname.errors %}
                <ul class="errors">
                    {% for err in form.fname.errors %}
                    <li class="white-text">{{ err }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <!--     Last Name           -->
            <div>
                {{ form.lname.label(class='label') }}
                {{ form.lname(class="white-text") }}
                {% if form.lname.errors %}
                <ul class="errors">
                    {% for err in form.lname.errors %}
                    <li class="white-text">{{ err }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <!--     Username           -->
            <div>
                {{ form.username.label(class='label') }}
                {{ form.username(class="white-text") }}
                {% if form.username.errors %}
                <ul class="errors">
                    {% for err in form.username.errors %}
                    <li class="white-text">{{ err }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <!--     Password           -->
            <div>
                {{ form.password.label(class='label') }}
                {{ form.password(class="white-text") }}
                {% if form.password.errors %}
                <ul class="errors">
                    {% for err in form.password.errors %}
                    <li class="white-text">{{ err }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <!--     Confirm Password           -->
            <div>
                {{ form.confirm.label(class='label') }}
                {{ form.confirm(class="white-text") }}
                {% if form.confirm.errors %}
                <ul class="errors">
                    {% for err in form.confirm.errors %}
                    <li class="white-text">{{ err }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <!--     Email           -->
            <div>
                {{ form.email.label(class='label') }}
                {{ form.email(class="white-text") }}
                {% if form.email.errors %}
                <ul class="errors">
                    {% for err in form.email.errors %}
                    <li class="white-text">{{ err }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <br>
            <div class="msg">{{ msg }}</div>
            <input type="submit" value="Sign Up" class="btn teal">
        </div>
    </form>
    <div class="links btn-flat blue">
        <a href="{{ url_for('login') }}" class="white-text">Login</a>
    </div>
</div>

</body>
{% endblock %}