<<<<<<< Updated upstream
option:disabled,.dropdown-content li>a, .dropdown-content li>span {
    color: purple;
}
=======
>>>>>>> Stashed changes

.select-wrapper input.select-dropdown{
    color: white;
}

.btn, .btn-large {
    background-color: rebeccapurple;
}
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 10px 10px;
}

<<<<<<< Updated upstream
.header a.active {
  background-color: #f1f1f1;
  color: white;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 6px;
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  border-radius: 5px;
=======
/*When being hovered on header must disappear not to obstruct the description*/
.all .column .activate .inside h1
{
	opacity: 0;
}

/*description is invisible until hovered on not to obstruct the header in this position*/
.all .column .inside .description
{
	position: absolute;
	top: 50%;
	transform: translateY(100%);
	box-sizing: border-box;
	padding: 20px;
	text-align: center;
	transition: 0.5s;
	opacity: 0;
>>>>>>> Stashed changes
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}



.header a:hover {
  background-color: #ddd;
  color: black;
}

<<<<<<< Updated upstream
.header a.active {
  background-color: dodgerblue;
  color: white;
=======
.all .column.activate .col.view3
{
	transition: 0.3s;
	background-color: #bade3a;
>>>>>>> Stashed changes
}

.header-right {
  float: right;
}

<<<<<<< Updated upstream
]
=======
.all .column.activate .col.view5
{
	transition: 0.3s;
	background-color: red;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 10px 10px;
}

.header a.active {
  background-color: #f1f1f1;
  color: white;
}
/*Carson's style*/
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 6px;
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  border-radius: 5px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}
>>>>>>> Stashed changes
