{% extends "_base.html" %}

{% block content %}
<body xmlns="http://www.w3.org/1999/html">
<style>
	body {
	  background-image: url({{ url_for('static', filename='img/fancy.jpg')}});
	  background-repeat: no-repeat;
	  background-size: cover;
	}

</style>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

<nav class="orange">
    <div class="nav-wrapper">
        <a class="white-text brand-logo" href="/" style="padding:0 1rem;">yourSpot</a>
        <a class="waves-effect waves-light right" href="/logout" style="padding:0 1rem;">Logout</a>
        <a class="right" style="padding:0 1rem;">Welcome {{ name }}!</a>
    </div>
</nav>

<div class="container">
    <div class="row">
        <!-- Search for a craving -->
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title black-text">Find your Craving</span>
                        <form action="{{ url_for('flavour_town') }}" method="post" class="form-group">
                            {{ form.csrf_token }}
                            {{ form.findFlav.label(class='label') }}
                            {{ form.findFlav }}
                            <input class="btn blue" type="submit" value="Search">
                        </form>
                        <div class="row">
                            <div class="input-field col s3"><b>Restaurant</b></div>
                            <div class="input-field col s3"><b>Food Profile</b></div>
                            <div class="input-field col s3"><b>City</b></div>
                        </div>
                        <hr>
                        {% for row in results %}
                        <div class="row">
                            <div class="input-field col s3">{{ row[1] }}</div>
                            <div class="input-field col s3">{{ row[2] }}</div>
                            <div class="input-field col s3">{{ row[3] }}</div>
                            <div class="card-action col s3">
                                <a href="{{ url_for('restaurant_info', id=row[0]) }}">Get more info >></a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <!-- Spicy -->
            <div class="card">
                <div class="card-content">
                    <span class="card-title black-text">Like it Spicy?</span>
                    <div class="row">
                        <div class="input-field col s3"><b>Restaurant</b></div>
                        <div class="input-field col s3"><b>City</b></div>
                        <div class="input-field col s3"><b>Number of Spicy Places in that City</b></div>
                    </div>
                    <hr>
                    {% for row in spicy %}
                    <div class="row">
                        <div class="input-field col s3">{{ row[1] }}</div>
                        <div class="input-field col s3">{{ row[2] }}</div>
                        <div class="input-field col s3">{{ row[3] }}</div>
                        <div class="card-action col s3">
                            <a href="{{ url_for('restaurant_info', id=row[0]) }}">Get more info >></a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col s6">
            <!-- All the Flavour profiles -->
            <div class="card">
                <div class="card-content">
                    <span class="card-title black-text">All Options</span>
                    <div class="row">
                        <div class="input-field col s3"><b>Restaurant</b></div>
                        <div class="input-field col s3"><b>Food Profile</b></div>
                        <div class="input-field col s3"><b>City</b></div>
                    </div>
                    <hr>
                    {% for row in flav %}
                    <div class="row">
                        <div class="input-field col s3">{{ row[1] }}</div>
                        <div class="input-field col s3">{{ row[2] }}</div>
                        <div class="input-field col s3">{{ row[3] }}</div>
                        <div class="card-action col s3">
                            <a href="{{ url_for('restaurant_info', id=row[0]) }}">Get more info >></a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}